body {
    font-size: 16px;
    color: #0d0653;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/static/Media/PLANE1.jpeg"); 
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0; 
    padding: 0; 
}

.p{
  margin-top: 10px;
  margin-bottom: 1000px;
  color:#ffffff;
  font-size: 100px;
  text-shadow: 
  -1px -1px 0 black, /* Outline on top-left */
   1px -1px 0 black, /* Outline on top-right */
  -1px  1px 0 black, /* Outline on bottom-left */
   1px  1px 0 black; /* Outline on bottom-right */
}


header {
    background-color: #1b1657;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    border-bottom: 2px solid #000000;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: auto;
    border-top: 2px solid rgb(255, 255, 255);
}

footer .contact-info {
    margin-bottom: 10px;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.9); 
    border: 2px solid #000000; 
    padding: 55px; 
    width: 70%;
    margin: 40px auto;
    border-radius: 8px; 
}
.btn {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 7px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #2e1483;
  align-self: center;
}

.btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #2d1a69;
}

.btn:active {
  transform: scale(0.9);
}

@keyframes sh02 {
from {
  opacity: 0;
  left: 0%;
}

50% {
  opacity: 1;
}

to {
  opacity: 0;
  left: 100%;
}
}

.btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.cards {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: rgba(0, 0, 0, 0.6); 
  }
  
  .cards .blue {
    background-color: rgba(0, 0, 0, 0.6); 
  }
  
  .cards .green {
    background-color: rgba(0, 0, 0, 0.6); 
  }
  
  .cards .card {
    left: 39.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
    color: #ffffff;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #ffffff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  .Hbtn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 7px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fffefe;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #150c35;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #2e1483;
  }
  
  .Hbtn:hover {
    color: rgb(255, 255, 255);
    box-shadow: inset 0 -100px 0 0 #2d1a69;
  }
  
  .Hbtn:active {
    transform: scale(0.9);
  }

@keyframes sh02 {
from {
    opacity: 0;
    left: 0%;
}

50% {
    opacity: 1;
}

to {
    opacity: 0;
    left: 100%;
}
}

.Hbtn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

